{% extends 'index/index.html' %}
{% block content %}



<div  class="style-title" >
  <h1 class="titulo">Mi plan</h1>
</div>

<div class="container_plan">
    <a class="box_plan"  href="{% url 'lista_nutricion' %}">Plan de Nutricion</a>
   <a class="box_plan" href="{% url 'lista_entrenamientos' %}">Plan de entrenamiento</a>
</div>




<div  class="style-title" >
  <button href="#" class="btn btn-success" onclick="return abrir_modal('{% url 'crear_planes' %}')" role="button">Crear</button>
</div>
<div class="pad">
<table class="table table-striped table-dark">
    <thead>
        <tr class="campo">
        <th>ID</th>
          <th>Nombre</th>
          <th>Tarifa</th>
          <th>Fecha de inicio</th>
          <th>Fecha de finalización</th>
          <th>Modalidad</th>
          <th></th>  
      </tr>
    </thead>
    <tbody>
      {% for planes in obj %}
      <tr>
        <td data-title="ID">{{ planes.id}}</td>
        <td data-title="Nombre">{{ planes.nombre }}</td>
        <td data-title="Numero de contacto">{{ planes.tarifa }}</td>
        <td data-title="Fecha de inicio">{{ planes.fechainicio }}</td>
        <td data-title="Fecha finalización">{{ planes.fechafin }}</td>
        <td data-title="Modalidad">{{ planes.modalidad }}</td>
        <td>
          <button href="#" class="boton_editar" onclick="return abrir_modal('{% url 'editar_planes' planes.id %}')" role="button" ><i class="fa fa-edit"></i></button>
        </td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
 

{% endblock %}  

