
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Reporte de plan</title>

</head>
<body>
<div class="container">
<div class="card">

    <div class="card-header">
        <h4>Reporte plan</h4>
        <h3>Reporte de plan al {{ today|date:"d/m/Y"}}</h3>
        </div>
        <table>
        <thead>
        <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Tarifa</th>
        <th>Descuento</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th>Modalidad</th>
        </tr>
        </thead>
        <tbody>
        {% for planes in obj %}
        <tr>
        <td>{{planes.id}}</td>
        <td>{{planes.nombre}}</td>
        <td>{{planes.tarifa | date:"d/m/Y"}}</td>
        <td>{{planes.descuento}}</td>
        <td>{{planes.fechainicio}}</td>
        <td>{{planes.fechafin}}</td>
        <td>{{planes.modalidad}}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        </div>
        </div>
        </body>
        </html>