{% extends 'main/index.html' %}

{% block styles %}
{{ block.super }}
{% endblock %}

{% block navbar %}
{{ block.super }}
{% endblock %}

{% block content %}
<section>
  <form method="POST" class="login-form">
    <h3 class="form-title">Registrarse</h3>
    {% csrf_token %}

    {% if messages %}
    <ul id="message-list" class="message-list">
      {% for message in messages %}
      <li class="alert {{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <input type="text" name="username" placeholder="Usuario" class="input-user" value="{{ username }}"><br>
    <input type="email" name="email" placeholder="Correo" class="input-user" value="{{ email }}"><br>
    <input type="password" name="password" placeholder="Contraseña" class="input-user" value="{{ password }}"><br>
    <input type="password" name="password2" placeholder="Confirmar contraseña" class="input-user" value="{{ password2 }}"><br>
    
    

    <div class="form-actions">
      <button type="submit" class="btn-login">Registrarse</button>
    </div>

    <p class="has-account">
      ¿Ya tienes una cuenta?
      <span class="register-link">
        <a href="{% url 'login' %}">Inicia sesión</a>
      </span>
    </p>
  </form>
</section>
{% endblock %}