{% extends 'index/index.html' %}
{% block content %}



<div  class="style-title" >
  <h1 class="titulo">Diagnóstico</h1>
</div>
<div  class="style-title" >
<button href="#" class="btn btn-success"  onclick="return abrir_modal('{% url 'crear_diagnostico' %}')" role="button">Crear</button>
</div>









<div class="pad">
<table class="table table-striped table-dark alt">
    <thead>
      <tr class="campo">
        <th>ID</th>
        <th>Edad</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Domicilio</th>
        <th>Objetivo Fisico</th>
        <th>Nivel de entrenamiento años</th>
        <th>Frecuencia semanal</th>
        <th>Dias de entrenamiento</th>
        <th>Tiempo Por Sesion</th>
        <th>Material Entreno</th>
        <th>Fuma</th>
        <th>Consume alcohol</th>
        <th>Cirugias anteriores</th>
        <th>Entrenos anteriores</th>
        <th>Enfermedad de base</th>
        <th>Fracturas</th>
        <th>Tiempo Sueño</th>
        <th></th>  
      </tr>
    </thead>
    <tbody>
      {% for diagnostico in obj %}
      <tr>
        <td data-title="Diganosico ID" scope="row">{{ diagnostico.id }}</td>
        <td data-title="Edad" scope="row">{{ diagnostico.Edad }}</td>
        <td data-title="telefono" scope="row">{{ diagnostico.telefono }}</td>
        <td data-title="Email" scope="row">{{ diagnostico.email }}</td>
        <td data-title="Direccion" scope="row">{{ diagnostico.domicilio }}</td>
        <td data-title="Objetivo fisico" scope="row">{{ diagnostico.Objetivo_Fisico }}</td>
        <td data-title="nivel de entrenamiento" scope="row">{{ diagnostico.Nivel_entrenamiento_años }}</td>
        <td data-title="frecuencia semanal" scope="row">{{ diagnostico.Frecuencia_semanal }}</td>
        <td data-title="dias de entrenamiento" scope="row">{{ diagnostico.Dias_de_entrenamiento }}</td>
        <td data-title="tiempo por session" scope="row">{{ diagnostico.Tiempo_Por_Sesion }}</td>
        <td data-title="material de entreno" scope="row">{{ diagnostico.Material_Entreno }}</td>
        <td data-title="fuma" scope="row">{{ diagnostico.Fuma }}</td>
        <td data-title="consume alcohol" scope="row">{{ diagnostico.Consume_alcohol }}</td>
        <td data-title="Cirugias anteriores" scope="row">{{ diagnostico.Cirugias_anteriores }}</td>
        <td data-title="entrenos anteriores" scope="row">{{ diagnostico.Entrenos_anteriores }}</td>
        <td data-title="enfermedades " scope="row">{{ diagnostico.Enfermedad_de_base }}</td>
        <td data-title="fracturas" scope="row">{{ diagnostico.Fracturas }}</td>
        <td data-title="tiepo de sueño" scope="row">{{ diagnostico.Tiempo_sueño }}</td>
        <td>
          <button href="#" class="btn btn-success" onclick="return abrir_modal('{% url 'editar_diagnostico' diagnostico.id %}')" role="button"><i class="fa fa-edit"></i></button>
          <button href="#" onclick="return abrir_modal('{% url 'eliminar_diagnostico' diagnostico.id %}')" class="btn btn-danger" role="button"><i class="fa fa-toggle-off"></i></button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  

{% endblock %}  


{%block scripts_local%}
<script>
    $(document).ready(function (){
        jQuery.datetimepicker.setlocale('es')
    });
</script>
{% endblock scripts_local%}

{% block js_page %}
<script>
    $(document).ready(function(){
        $('.table').dataTable();
    });
</script>
{% endblock %}