{% extends 'index/index.html' %}
{% block content %}




<div  class="style-title" >
    <h1 class="titulo">Usuarios</h1>
</div>
<div  class="style-title" >
<button  class="btn btn-success" onclick="return abrir_modal('{% url 'crear_cliente' %}')" role="button">Crear</button>
</div>
<div class="pad">
<table class="table table-striped table-dark alt">
<thead >
    <tr class="campo">
    <th scope="col">Id</th>
    <th scope="col">Nombre Completo</th>
    <th scope="col">Fecha de inicio</th>
    <th scope="col">Fecha de finalización</th>
    <th scope="col">Fecha de pago</th>
    <th scope="col"></th>
    </tr>
</thead>
<tbody>
    {% for cliente in obj %}
    <tr class="campo">
    <td data-title="Id:" scope="row">{{ cliente.id }}</td>
    <td data-title="Nombre:" scope="row">{{ cliente.NombreCompleto }}</td>
    <td data-title="FechaInicio:" scope="row">{{ cliente.FechaInicio}}</td>
    <td data-title="FechaFin:" scope="row">{{ cliente.FechaFin }}</td>
    <td data-title="FechaPago:" scope="row">{{ cliente.FechaPago }}</td>
    <td scope="row">
        <button href="#" class="boton_editar" onclick="return abrir_modal('{% url 'editar_cliente' cliente.id %}')" role="button"><i class="fa fa-edit"></i></button>


    </td>
    </tr>
    {% endfor %}
</tbody>
</table>
</div>

<div class="tabla-mobile">
<div class="fila">
</div>





{% endblock %}  



{%block scripts_local%}
<script>
    $(document).ready(function (){
        jQuery.datetimepicker.setlocale('es')
    });
</script>
{% endblock scripts_local%}

{% block js_page %}
<script>
    $(document).ready(function(){
        $('.table').dataTable();
    });
</script>
{% endblock %}