{% extends 'index/index.html' %}
{% block content %}



<div  class="style-title" >
  <h1 class="titulo">Diagnostico</h1>
</div>





<table >
    <thead>
      <tr>
        <th>Objetivo Fisico</th>
        <th>Nivel de entrenamiento años</th>
        <th>Frecuencia semanal</th>
        <th>Dias de entrenamiento</th>
        <th>Tiempo Por Sesion</th>
        <th>Material Entreno</th>
        <th>Fuma</th>
        <th>Consume alcohol</th>
        <th>Cirugias anteriores</th>
        <th>Entrenos anteriores</th>
        <th>Enfermedad de base</th>
        <th>Fracturas</th>
        <th>Tiempo Sueño</th>
        <th>
          <a href="#" class="boton_crear" onclick="return abrir_modal('{% url 'crear_diagnostico' %}')" role="button">Crear</a>
        </th>  
      </tr>
    </thead>
    <tbody>
      {% for diagnostico in obj %}
      <tr>
        <td>{{ diagnostico.Objetivo_Fisico }}</td>
        <td>{{ diagnostico.Nivel_entrenamiento_años }}</td>
        <td>{{ diagnostico.Frecuencia_semanal }}</td>
        <td>{{ diagnostico.Dias_de_entrenamiento }}</td>
        <td>{{ diagnostico.Tiempo_Por_Sesion }}</td>
        <td>{{ diagnostico.Material_Entreno }}</td>
        <td>{{ diagnostico.Fuma }}</td>
        <td>{{ diagnostico.Consume_alcohol }}</td>
        <td>{{ diagnostico.Cirugias_anteriores }}</td>
        <td>{{ diagnostico.Entrenos_anteriores }}</td>
        <td>{{ diagnostico.Enfermedad_de_base }}</td>
        <td>{{ diagnostico.Fracturas }}</td>
        <td>{{ diagnostico.Tiempo_sueño }}</td>
        <td>
          <a href="{% url 'editar_diagnostico' pk=diagnostico.pk %}" class="boton_editar">Editar</a>
          <a href="{% url 'eliminar_diagnostico' pk=diagnostico.pk %}" class="boton_eliminar">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>

    <span>
      {% if page_obj.has_previous %}

      <a href="?page={{ page_obj.previous_page_number}}" class="paginacion">&laquo; Previo</a>
      {% endif %}

      <span class="paginacion">
          Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}.
      </span>

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number}}" class="paginacion">siguiente &raquo;</a>

  {% endif %}
  </span>

{% endblock %}  