{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>RPO TRAINER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/></noscript>



	
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<!-- Header -->
			
			

				<header id="header">
					<h1 id="logo"><a href="{% url 'Home' %}">RPO TRAINER</a></h1>
					<nav id="nav">
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li>
								<a href="#two">Planes</a>
								<ul>
									<li><a href="{% url 'entrenamiento_main' %}">Entrenamiento</a></li>
									<li><a href="{% url 'asesorias_main' %}">Asesorias</a></li>
									<li><a href="{% url 'nutricion_main' %}">Nutricion</a></li>
									<li>
									</li>
								</ul>
							</li>
							<li><a href="{% url 'sobre_main' %}">Sobre mi</a></li>
							<li><a href="{% url 'testimonios_main' %}">Testimonios</a></li>
							<li><a href="{% url 'contacto_main' %}">Contacto</a></li>

							<li><a href="{% url 'registro_usuario' %}" class="button ">Registrarse</a></li>
							<li><a href="{% url 'iniciar' %}" class="button primary">Iniciar sesion</a></li>
						</ul>
					</nav>
				</header>

	<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<header class="major">
				<h2>PLAN DE ASESORIAS ONLINE</h2>
				<p>"Tu Camino hacia el Éxito Fitness: Asesoría Integral y Personalizada para Resultados Duraderos"</p>
			</header>



	<h2>  Descripción</h2>
	<p>
		El programa de Asesorías de Entrenamiento que ofrezco es una solución integral y adaptada a tus objetivos de acondicionamiento físico. A través de un programa de entrenamiento personalizado, un plan de nutrición diseñado específicamente para ti y una guía de suplementación que abarca opciones básicas y avanzadas, te brindaré el apoyo completo necesario para alcanzar tus metas. Además, estaré disponible las 24 horas del día a través de WhatsApp para responder a tus preguntas y brindarte orientación constante. No solo te proporcionaré un plan, sino que también te enseñaré las técnicas y fundamentos detrás de cada ejercicio para una ejecución efectiva y segura. Evaluaremos tu progreso semanalmente y ajustaremos el plan según tus necesidades, asegurando un avance constante hacia tus objetivos de acondicionamiento físico.</p><br><br/>


							<!-- Table -->
							<section>
								<h3>Tarifas</h3>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Duración</th>
												<th>Precio</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>4 Semanas</td>
												<td>200.000 COP</td>
											</tr>
											<tr>
												<td>12 Semanas</td>
												<td>400.000 COP</td>
											</tr>
											<tr>
												<td>24 Semanas</td>
												<td>700.000 COP</td>
											</tr>
										</tbody>
									</table>
								</div>


								<br><br/>
								<br><br/>


				

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.youtube.com/channel/UC97NkE4ccH87VLQnK60u97Q" class="icon brands alt fa-YouTube"><span class="label">YouTube</span></a></li>
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/julianrpo.trainerr/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/julianrpo_trainer/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.tiktok.com/@julianrpo_trainer" class="icon brands alt fa-tiktok"><span class="label">tiktok</span></a></li>
						<li><a href="mailto:samurpo20@correo.com" class="icon solid alt fa-envelope"><span class="label">Gmail</span></a></li>
						
					

					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>