{% load static %}
<html>
	<head>
		<title>RPOTRAINER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/></noscript>

	</head>
	<body class="is-preload">
		<div id="page-wrapper">
		

			<header id="header">
				<h1 id="logo"><a href="{% url 'Home' %}">RPO TRAINER</a></h1>
				<nav id="nav">
					<ul>
						<li>
							<a href="#two">Planes</a>
							<ul>
								<li><a href="{% url 'entrenamiento_main' %}">Entrenamiento</a></li>
								<li><a href="{% url 'asesorias_main' %}">Asesorias</a></li>
								<li><a href="{% url 'nutricion_main' %}">Nutricion</a></li>
								<li>
								</li>
							</ul>
						</li>
						<li><a href="index.html">Sobre mi</a></li>
						<li><a href="index.html">Testimonios</a></li>
						<li><a href="index.html">Contacto</a></li>

						<li><a href="{% url 'registro_usuario' %}" class="button ">Registrarse</a></li>
						<li><a href="{% url 'iniciar' %}" class="button primary">Iniciar sesion</a></li>
					</ul>
				</nav>
			</header>

			
		



			<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>PLAN DE ENTRENAMIENTO PERSONALIZADO</h2>
							<p>"Tu Viaje Personalizado hacia el Éxito Fitness: Resultados Medibles y Soporte Constante"</p>
						</header>

						<h2>  Descripción</h2>
						<p>Nuestro completo plan de Entrenamiento Personalizado te ofrece una experiencia fitness única. Desde un programa de entrenamiento cuidadosamente adaptado a tus objetivos y necesidades, hasta la realización de medidas antropométricas al inicio y al final de cada mes para un seguimiento preciso de tu progreso. Cada sesión estará bajo la supervisión y control constante, asegurando que tu técnica sea impecable y eficiente. Además, nos comprometemos a estar a tu disposición las 24 horas del día, los 7 días de la semana, a través de WhatsApp, para responder a tus preguntas y proporcionarte apoyo continuo en tu camino hacia el éxito físico.</p><br><br/>
		
		
												<!-- Table -->
												<section>
													<h3>Tarifas</h3>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th>Duración</th>
																	<th>Sesiones</th>
																	<th>Precio</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>12 Clases</td>
																	<td>3 X Semana</td>
																	<td>380.000 COP</td>
																</tr>
																<tr>
																	<td>16 Clases</td>
																	<td>4 X Semana</td>
																	<td>470.000 COP</td>
																</tr>
																<tr>
																	<td>20 Clases</td>
																	<td>5 X Semana</td>
																	<td>550.000 COP</td>
																</tr>
															</tbody>
														</table>
													</div>
		
		
													<br><br/>

																<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>PLAN DE ENTRENAMIENTO SEMIPERSONALIZADO</h2>
							<p>"Logros en Grupo: Entrenamiento Semipersonalizado a tu Medida"</p>
						</header>

						<h2>  Descripción</h2>
						<p>Nuestra propuesta de Entrenamiento Semipersonalizado te brinda una experiencia única al combinar la energía grupal con atención individualizada. Diseñado para grupos de 2 a 3 personas, cada miembro recibirá un programa de entrenamiento personalizado adaptado a sus objetivos y necesidades. Además de las medidas antropométricas al inicio y final de cada mes para evaluar tu avance, nuestros chequeos semanales aseguran un seguimiento constante de tu progreso. Estaremos a tu disposición las 24 horas del día, los 7 días de la semana, a través de WhatsApp, para brindarte el apoyo que necesitas mientras te embarcas en tu viaje hacia el éxito fitness.</p><br><br/>
		
		
												<!-- Table -->
												<section>
													<h3>Tarifas</h3>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th>Duración</th>
																	<th>Sesiones</th>
																	<th>Precio</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>12 Clases</td>
																	<td>3 X Semana</td>
																	<td>4700.000 COP</td>
																</tr>
																<tr>
																	<td>16 Clases</td>
																	<td>4 X Semana</td>
																	<td>560.000 COP</td>
																</tr>
																<tr>
																	<td>20 Clases</td>
																	<td>5 X Semana</td>
																	<td>640.000 COP</td>
																</tr>
															</tbody>
														</table>
													</div>
		
		
													<br><br/>

																<!-- Main -->
				<div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>PLAN DE ENTRENAMIENTO ONLINE</h2>
							<p>"Eleva Tu Entrenamiento: Conquista Tus Metas a Distancia con Nuestro Programa de Entrenamiento Online en Vivo"</p>
						</header>

						<h2>  Descripción</h2>
						<p>Nuestro innovador plan de Entrenamiento Online te ofrece una experiencia fitness integral y flexible. A través de un programa de entrenamiento personalizado diseñado según tus metas y necesidades, te proporcionamos la ventaja única del entrenamiento en tiempo real mediante videollamadas, permitiéndonos guiarte y ajustar la sesión en el momento. Cada sesión se lleva a cabo bajo una supervisión constante, garantizando que tu técnica y rendimiento sean óptimos. Además, te brindamos un acceso ilimitado a nuestra asistencia vía WhatsApp las 24 horas del día, los 7 días de la semana, para responder a tus consultas y proporcionarte apoyo continuo en tu viaje hacia una mejor salud y forma física.</p><br><br/>
		
		
												<!-- Table -->
												<section>
													<h3>Tarifas</h3>
													<div class="table-wrapper">
														<table>
															<thead>
																<tr>
																	<th>Duración</th>
																	<th>Sesiones</th>
																	<th>Precio</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>12 Clases</td>
																	<td>3 X Semana</td>
																	<td>250.000 COP</td>
																</tr>
																<tr>
																	<td>16 Clases</td>
																	<td>4 X Semana</td>
																	<td>320.000 COP</td>
																</tr>
																<tr>
																	<td>20 Clases</td>
																	<td>5 X Semana</td>
																	<td>370.000 COP</td>
																</tr>
															</tbody>
														</table>
													</div>

													<br><br/>
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>