{% load static %}
<html>
  <head>
    <title>RPO TRAINER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/jquery.datetimepicker.min.css' %}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />

		<link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'assets/plugins/custom/datatables/datatables.bundle.css' %}">

	</head>
	<body class="is-preload landing">
		<div>
			<div id="page-wrapper">
				


				<header id="header">
					<h1 id="logo"><a href="{% url 'Home' %}">RPO TRAINER</a></h1>
					<nav id="nav">
						<ul>
							{% if user.is_authenticated %}
							<li><a href="{% url 'lista_cliente' %}">Mi plan</a></li>
								<li>
								<a href="#two">Planes</a>
								<ul>
									<li><a href="{% url 'entrenamiento_main' %}">Entrenamiento</a></li>
									<li><a href="{% url 'asesorias_main' %}">Asesorias</a></li>
									<li><a href="{% url 'nutricion_main' %}">Nutricion</a></li>
									<li>
									</li>
								</ul>
							</li>	
							
	
							<li><a href="{% url 'sobre_main' %}">Sobre mi</a></li>
							<li><a href="{% url 'testimonios_main' %}">Testimonios</a></li>
							<li><a href="{% url 'contacto_main' %}">Contacto</a></li>
	
							<li><a href="{% url 'log-out' %}" class="button primary">Cerrar Sesion</a></li>
							{% else %}
							<li>
							<a href="#two">Planes</a>
							<ul>
								<li><a href="{% url 'entrenamiento_main' %}">Entrenamiento</a></li>
								<li><a href="{% url 'asesorias_main' %}">Asesorias</a></li>
								<li><a href="{% url 'nutricion_main' %}">Nutricion</a></li>
								<li>
								</li>
							</ul>
						</li>	
						
	
						<li><a href="{% url 'sobre_main' %}">Sobre mi</a></li>
						<li><a href="{% url 'testimonios_main' %}">Testimonios</a></li>
						<li><a href="{% url 'contacto_main' %}">Contacto</a></li>
							<li><a href="{% url 'registro_usuario' %}" class="button ">Registrarse</a></li>
							<li><a href="{% url 'iniciar' %}" class="button primary">Iniciar sesion</a></li>
							{% endif %}
						</ul>
					</nav>
				</header>






			</div>
		</div>
		<div class="nav-pad"></div>
		<div>	
			{% block content  %}
			{% endblock  %}
		<div class="modal" id="popup">
		</div>
	</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.youtube.com/channel/UC97NkE4ccH87VLQnK60u97Q" class="icon brands alt fa-YouTube"><span class="label">YouTube</span></a></li>
						<li><a href="https://www.facebook.com/julianrpo.trainerr/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/julianrpo_trainer/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.tiktok.com/@julianrpo_trainer" class="icon brands alt fa-tiktok"><span class="label">tiktok</span></a></li>
						<li><a href="mailto:samurpo20@correo.com" class="icon solid alt fa-envelope"><span class="label">WhatsApp</span></a></li>
						
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script src="{% static 'assets/js/bootstrap.js' %}"></script>
			<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery-ui.min.js' %}"></script>
			<script src="{% static 'assets/jquery/jquery-ui.min.js' %}"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
			
			{% block control_modal %}
			<script>
				function abrir_modal(url)
				{
					$("#popup").load(url, function(){
						$(this).modal({
							backdrop:'static',
							keyboard:false
						})
						$(this).modal("show");
					});
					return false;
				}
				function cerrar_modal()
				{
					$('#popup').modal('hide');
					return false;
				}
			</script>
			{% endblock control_modal %}

			{% block js_page %}
			{% endblock %}

	</body>
</html>

{% block scripts_local%}
<script>
	$(function (){
		$("cliente.FechaInicio").datetimepicker({
			format: "Y-m-d",
			timepicker: false,
		});
	});
</script>
{% endblock %}