{% load static %}
<html>
  <head>
    <title>RPO TRAINER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	</head>
	<body class="is-preload landing">
		<div>
			<div id="page-wrapper">
				<header id="header">
					<h1 id="logo"><a href="{% url 'Home' %}" >RPO TRAINER</a></h1>
					<nav id="nav">
						<ul>
							<li><a class="inicio-hover" href="index.html">Inicio</a></li>
							<li>
								<a href="#two">Planes</a>
								<ul>
									<li><a href="{% url 'lista_cliente' %}"> Cliente</a></li>
									<li><a href="{% url 'lista_asesorias' %}">Asesorias</a></li>
									<li><a href="{% url 'lista_nutricion' %}">Nutricion</a></li>
									<li>
									</li>
								</ul>
							</li>
							<li><a href="{% url 'log-out' %}" class="button primary">Cerrar Sesión</a></li>
						</ul>
					</nav>
				</header>
			</div>
		</div>
		<div style="padding: 5%;">
		</div>
		<div>
  		{% block content  %}
  		{% endblock  %}
		<div class="modal" id="popup">
		</div>
	</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.youtube.com/channel/UC97NkE4ccH87VLQnK60u97Q" class="icon brands alt fa-YouTube"><span class="label">YouTube</span></a></li>
						<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://www.facebook.com/julianrpo.trainerr/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/julianrpo_trainer/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.tiktok.com/@julianrpo_trainer" class="icon brands alt fa-tiktok"><span class="label">tiktok</span></a></li>
						<li><a href="mailto:samurpo20@correo.com" class="icon solid alt fa-envelope"><span class="label">WhatsApp</span></a></li>
						
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script src="{% static 'assets/js/bootstrap.js' %}"></script>
			<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
			{% block control_modal %}
			<script>
				function abrir_modal(url)
				{
					$("#popup").load(url, function(){
						$(this).modal({
							backdrop:'static',
							keyboard:false
						})
						$(this).modal("show");
					});
					return false;
				}
				function cerrar_modal()
				{
					$('#popup').modal('hide');
					return false;
				}
			</script>
			{% endblock %}
	</body>
</html>