{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>RPO TRAINER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/></noscript>


	
	</head>
	
	<body class="is-preload landing">
		<div id="page-wrapper">
			<!-- Header -->
			
			

			<header id="header">
				<h1 id="logo"><a href="{% url 'Home' %}">RPO TRAINER</a></h1>
				<nav id="nav">
					<ul>
						{% if user.is_authenticated %}
						<li><a href="{% url 'lista_cliente' %}">Mi plan</a></li>
							<li>
							<a href="#two">Planes</a>
							<ul>
								<li><a href="{% url 'entrenamiento_main' %}">Entrenamiento</a></li>
								<li><a href="{% url 'asesorias_main' %}">Asesorias</a></li>
								<li><a href="{% url 'nutricion_main' %}">Nutricion</a></li>
								<li>
								</li>
							</ul>
						</li>	
						

						<li><a href="{% url 'sobre_main' %}">Sobre mi</a></li>
						<li><a href="{% url 'testimonios_main' %}">Testimonios</a></li>
						<li><a href="{% url 'contacto_main' %}">Contacto</a></li>

						<li><a href="{% url 'log-out' %}" class="button primary">Cerrar Sesion</a></li>
						<li><a href="#">{{ user.username}}</a></li>
						{% else %}
						<li>
						<a href="#two">Planes</a>
						<ul>
							<li><a href="{% url 'entrenamiento_main' %}">Entrenamiento</a></li>
							<li><a href="{% url 'asesorias_main' %}">Asesorias</a></li>
							<li><a href="{% url 'nutricion_main' %}">Nutricion</a></li>
							<li>
							</li>
						</ul>
					</li>	
					

					<li><a href="{% url 'sobre_main' %}">Sobre mi</a></li>
					<li><a href="{% url 'testimonios_main' %}">Testimonios</a></li>
					<li><a href="{% url 'contacto_main' %}">Contacto</a></li>
						<li><a href="{% url 'registro_usuario' %}" class="button ">Registrarse</a></li>
						<li><a href="{% url 'iniciar' %}" class="button primary">Iniciar sesion</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>


			
				<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							<h2>JULIAN RESTREPO</h2>
							<p>Entrenador personalizado <br />
								especializado en recomposicion </p>
							</header>
							<span class="image"><img src="{% static 'images/pic01.jpg' %}"  /></span>
						</div>
						<a href="#one" class="goto-next scrolly">Next</a>
					</section>


			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{% static 'images/pic02.jpg' %}" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>SOBRE MI</h2>
										<p>Mi nombre es Julian Restrepo, entrenador personalizado Colombiano,
											presencial y online con más de 6 años de experiencia en el medio,
											especialista en recomposición corporal</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>{% lorem 1 b random %} </p>
								</div>
								<div class="col-4 col-12-medium">
									<p>Nutrición deportiva y entrenamiento en mujeres, abarco tanto gente de Colombia como de otros 5 países mas y
										ahora son más de 1000 personas transformadas gracias a su fuerte
										trabajo y mi acompañamiento.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="{% static 'images/pic03.jpg'%}" alt="" /></span>
					<div class="content">
						<header>
							<h2>PLAN DE ENTRENAMIENTO</h2>
							<p></p>
						</header>
						<p>Programa de entrenamiento personalizado <br>
							* Medidas antropométricas al inicio y final del mes <br>
							*Supervisión y Control de toda la sesión<br>
							* Disponibilidad 24/7 vía WhatsApp <br>
							</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>


				
			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{% static 'images/pic04.jpg' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum felis blandit praesent sed augue</h2>
							<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>


				<!-- Four -->
				<section id="four" class="spotlight style4 right">
					<span class="image fit main"><img src="{% static 'images/pic03.jpg' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum amet non magna accumsan</h2>
							<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#five" class="goto-next scrolly">Next</a>
				</section>


			<!-- Five -->
				<section id="five" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Preguntas Frecuentes</h2>
							<p>Iaculis ac volutpat vis non enim gravida nisi faucibus posuere arcu consequat</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-dumbbell"></span>
									<h3>¿Si tengo el plan personalizado, semi u online igual
										tendré programa de entrenamiento? </h3>
									<p>Sí, todos los planes que ofrezco tienen un programa de
										entrenamiento individual según los objetivos.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-comment"></span>
									<h3>¿Cuánto es el tiempo por sesión en el entrenamiento
										personalizado y online?</h3>
									<p>65 minutos es el tiempo máximo que se realiza por sesión
										de entrenamiento, sin embargo sino se cuenta con este se
										adecua.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-flask"></span>
									<h3> ¿En cuánto tiempo recibiré mi
										programa de entrenamiento y nutrición?</h3>
									<p>Los programas tardan de 3-4 días hábiles para su respectiva elaboración y entrega después de enviado el comprobante de pago, el formulario de ingreso y fotos. </p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-paper-plane"></span>
									<h3>¿Si estoy por fuera de Colombia,
										puedo realizar el entrenamiento online y las diferentesasesorías?</h3>
									<p>Si, puede hacerlo desde cualquier parte del
										mundo ya que es totalmente
										Online.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-file"></span>
									<h3>¿Cómo debo hacer el pago y que métodos tiene?</h3>
									<p>Se le enviara él numero. Cuenta para que realice el pago y envié
										el comprobante. Los métodos de pago son PAYPAL, REMITLY, BANCOLOMBIA, AHORRO A LA MANO, NORDEA Y
										SWICH.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-lock"></span>
									<h3>¿Tengo que tener un gimnasio para poder entrenar?</h3>
									<p>No, todo el entrenamiento es adecuado e individualizado
										según los implementos que se tengan. </p>
								</section>
							</div>
						</div>
						<footer class="major">
							<ul class="actions special">
								<li><a href="#six" class="button scrolly">Enviar una pregunta</a></li>
							</ul>
						</footer>
					</div>
				</section>

			<!-- Six -->
				<section id="six" class="wrapper style2 special fade">
					<div class="container">
						<header>
							<h2>Envia tus preguntas </h2>
							<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
						</header>
					<form method="post" action="#" >



						<div class="col">

							
							<div class="col">
								<label for="exampleFormControlInput1" class="form-label">Nombre</label>
								<input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
							</div>
							
							<div class="col">
								<label for="exampleFormControlInput1" class="form-label">Correo</label>
								<input type="text" class="form-control" placeholder="Correo" aria-label="Last name">
							</div>
							</div>
							


								<div class="mb-3">
								<label for="exampleFormControlTextarea1" class="form-label">Comentarios</label>
								<textarea id="exampleFormControlTextarea1" rows="4"></textarea>
								</div>

							<div style="height:50px"></div>

					
							<div><input type="submit" value="Enviar" class="fit primary"/></div>

						</div>
					</form>
					</div>
				</section>




			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://www.youtube.com/channel/UC97NkE4ccH87VLQnK60u97Q" class="icon brands alt fa-youtube"><span class="label">YouTube</span></a></li>
						<li><a href="https://www.facebook.com/julianrpo.trainerr/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
						<li><a href="https://www.instagram.com/julianrpo_trainer/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://www.tiktok.com/@julianrpo_trainer" class="icon brands alt fa-tiktok"><span class="label">tiktok</span></a></li>
						<li><a href="mailto:samurpo20@correo.com" class="icon solid alt fa-envelope"><span class="label">Gmail</span></a></li>
						
					

					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="#">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>