{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>RPO TRAINER</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}"/></noscript>



	
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<!-- Header -->
			
			

			<header id="header">
				<h1 id="logo"><a href="{% url 'Home' %}">RPO TRAINER</a></h1>
				<nav id="nav">
					<ul>
						{% if user.is_authenticated %}
						<li><a href="{% url 'lista_cliente' %}">Mi plan</a></li>
							<li>
							<a href="#two">Planes</a>
							<ul>
								<li><a href="{% url 'entrenamiento_main' %}">Entrenamiento</a></li>
								<li><a href="{% url 'asesorias_main' %}">Asesorias</a></li>
								<li><a href="{% url 'nutricion_main' %}">Nutricion</a></li>
								<li>
								</li>
							</ul>
						</li>	
						

						<li><a href="{% url 'sobre_main' %}">Sobre mi</a></li>
						<li><a href="{% url 'testimonios_main' %}">Testimonios</a></li>
						<li><a href="{% url 'contacto_main' %}">Contacto</a></li>

						<li><a href="{% url 'log-out' %}" class="button primary">Cerrar Sesion</a></li>
						{% else %}
						<li>
						<a href="#two">Planes</a>
						<ul>
							<li><a href="{% url 'entrenamiento_main' %}">Entrenamiento</a></li>
							<li><a href="{% url 'asesorias_main' %}">Asesorias</a></li>
							<li><a href="{% url 'nutricion_main' %}">Nutricion</a></li>
							<li>
							</li>
						</ul>
					</li>	
					

					<li><a href="{% url 'sobre_main' %}">Sobre mi</a></li>
					<li><a href="{% url 'testimonios_main' %}">Testimonios</a></li>
					<li><a href="{% url 'contacto_main' %}">Contacto</a></li>
						<li><a href="{% url 'registro_usuario' %}" class="button ">Registrarse</a></li>
						<li><a href="{% url 'iniciar' %}" class="button primary">Iniciar sesion</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

			<body>
				
			<body/>
	<!-- Main -->

				

			<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.youtube.com/channel/UC97NkE4ccH87VLQnK60u97Q" class="icon brands alt fa-YouTube"><span class="label">YouTube</span></a></li>
					<li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.facebook.com/julianrpo.trainerr/" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.instagram.com/julianrpo_trainer/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://www.tiktok.com/@julianrpo_trainer" class="icon brands alt fa-tiktok"><span class="label">tiktok</span></a></li>
					<li><a href="mailto:samurpo20@correo.com" class="icon solid alt fa-envelope"><span class="label">Gmail</span></a></li>
					
				

				</ul>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>


		</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>