{% extends 'index/index.html' %}
{% block content %}
     



<div  class="style-title" >
    <h1 class="titulo">Nutrición</h1>
</div>
<div  class="style-title" >
<button  class="btn btn-success" onclick="return abrir_modal('{% url 'crear_nutricion' %}')" role="button">Crear</button>
</div>
<div class="pad">
<table >
<thead>
    <tr>
        <th>Dia</th>
        <th>Hora</th>
        <th>Tipo de comida</th>
        <th>Alimento</th>
        <th>Porcion</th>
        <th>Alimentos a evitar</th>
        <th>Otras recomendaciones</th>
        <th>Ingesta de agua</th>
        <th>Dia trampa</th>
        <th>Suplementos</th>
        <th>Lista de compra</th>
    </tr>
</thead>
<tbody>
    {% for nutricion in obj %}
    <tr>
    <td>{{ nutricion.dia }}</td>
    <td>{{ nutricion.hora }}</td>
    <td>{{ nutricion.tipo_comida }}</td>
    <td>{{ nutricion.alimento }}</td>
    <td>{{ nutricion.porcion }}</td>
    <td>{{ nutricion.evitar }}</td>
    <td>{{ nutricion.otras_recomendaciones }}</td>
    <td>{{ nutricion.ingesta_agua }}</td>
    <td>{{ nutricion.dia_trampa }}</td>
    <td>{{ nutricion.suplementos }}</td>
    <td>{{ nutricion.lista_compra }}</td>

    <td>
        <a href="{% url 'editar_nutricion' pk=nutricion.pk %}" class="boton_editar">Editar</a>
        <a href="{% url 'eliminar_nutricion' pk=nutricion.pk %}" class="boton_eliminar">Eliminar</a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>



<div>

{% endblock %} 

{%block scripts_local%}
<script>
    $(document).ready(function (){
        jQuery.datetimepicker.setlocale('es')
    });
</script>
{% endblock scripts_local%}

{% block js_page %}
<script>
    $(document).ready(function(){
        $('.table').dataTable();
    });
</script>
{% endblock %} 