{% extends 'index/index.html' %}
{% block content %}
     



<div style="padding-bottom: 2%; align-items: center;" >
    <center>
      <h1 class="titulo">Nutricion</h1>
    </center>
  </div>


<table >
<thead>
    <tr>
        <th>Dia</th>
        <th>Hora</th>
        <th>Tipo de comida</th>
        <th>Alimento</th>
        <th>Porcion</th>
        <th>Alimentos a evitar</th>
        <th>Otras recomendaciones</th>
        <th>Ingesta de agua</th>
        <th>Dia trampa</th>
        <th>Suplementos</th>
        <th>Lista de compra</th>
        <th>
            <a href="#" class="boton_crear" onclick="return abrir_modal('{% url 'crear_nutricion' %}')" role="button">Crear</a>
        </th>  
    </tr>
</thead>
<tbody>
    {% for nutricion in obj %}
    <tr>
    <td>{{ nutricion.dia }}</td>
    <td>{{ nutricion.hora }}</td>
    <td>{{ nutricion.tipo_comida }}</td>
    <td>{{ nutricion.alimento }}</td>
    <td>{{ nutricion.porcion }}</td>
    <td>{{ nutricion.evitar }}</td>
    <td>{{ nutricion.otras_recomendaciones }}</td>
    <td>{{ nutricion.ingesta_agua }}</td>
    <td>{{ nutricion.dia_trampa }}</td>
    <td>{{ nutricion.suplementos }}</td>
    <td>{{ nutricion.lista_compra }}</td>

    <td>
        <a href="{% url 'editar_nutricion' pk=nutricion.pk %}" class="boton_editar">Editar</a>
        <a href="{% url 'eliminar_nutricion' pk=nutricion.pk %}" class="boton_eliminar">Eliminar</a>
    </td>
    </tr>
    {% endfor %}
</tbody>
</table>



<div>
    <span>
        {% if page_obj.has_previous %}

        <a href="?page={{ page_obj.previous_page_number}}" class="paginacion">&laquo; Previo</a>
        {% endif %}

        <span class="paginacion">
            Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}.
        </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number}}" class="paginacion">siguiente &raquo;</a>

    {% endif %}
    </span>
{% endblock %}  