{% extends 'index/index.html' %}
{% block content %}




<div  class="style-title" >
  <h1 class="titulo">Medidas</h1>
</div>


<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Brazo Izquierdo</th>
        <th>Brazo Derecho</th>
        <th>Torax</th>
        <th>Brazo Relajado</th>
        <th>Cadera</th>
        <th>Cintura</th>
        <th>Muslo Derecho Contraido</th>
        <th>Muslo Izquierdo Contraido</th>
        <th>Pantorrilla Derecha Contraida</th>
        <th>Pantorrilla Izquierda Contraida</th>
        <th>
          <a href="#" class="boton_crear" onclick="return abrir_modal('{% url 'crear_medidas' %}')" role="button">Crear</a>
        </th>  
      </tr>
    </thead>
    <tbody>
      {% for medidas in obj %}
      <tr>
        <td>{{ medidas.id }}</td>
        <td>{{ medidas.Brazo_Izquierdo }}</td>
        <td>{{ medidas.Brazo_Derecho }}</td>
        <td>{{ medidas.Torax }}</td>
        <td>{{ medidas.Brazo_Relajado }}</td>
        <td>{{ medidas.Cadera }}</td>
        <td>{{ medidas.Cintura }}</td>
        <td>{{ medidas.Muslo_Derecho_Contraido }}</td>
        <td>{{ medidas.Muslo_Izquierdo_Contraido }}</td>
        <td>{{ medidas.Pantorrilla_Derecha_Contraida }}</td>
        <td>{{ medidas.Pantorrilla_Izquierda_Contraida }}</td>
        <td>
          <a href="#" class="boton_editar" onclick="return abrir_modal('{% url 'editar_medidas' medidas.id %}')" role="button"><i class="fa fa-edit"></i></a>
          <a href="#" onclick="return abrir_modal('{% url 'eliminar_medidas' medidas.id %}')" class="boton_eliminar" role="button"><i class="fa fa-toggle-off"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <span>
      {% if page_obj.has_previous %}

      <a href="?page={{ page_obj.previous_page_number}}" class="paginacion">&laquo; Previo</a>
      {% endif %}

      <span class="paginacion">
          Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}.
      </span>

  {% if page_obj.has_next %}
  <a href="?page={{ page_obj.next_page_number}}" class="paginacion">siguiente &raquo;</a>

  {% endif %}
  </span>
{% endblock %}  




