{% extends 'index/index.html' %}
{% block content %}

<a href="{% url 'lista_medidas'%}" class="titulo">Medidas</a>
<table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Brazo Izquierdo</th>
        <th>Brazo Derecho</th>
        <th>Torax</th>
        <th>Brazo Relajado</th>
        <th>Cadera</th>
        <th>Cintura</th>
        <th>Muslo Derecho Contraido</th>
        <th>Muslo Izquierdo Contraido</th>
        <th>Pantorrilla Derecha Contraida</th>
        <th>Pantorrilla Izquierda Contraida</th>
        <th>Acciones</th>
        <th>
          <a href="{% url 'crear_medidas' %}" class="boton_crear">Crear</a>
        </th>  
      </tr>
    </thead>
    <tbody>
      {% for medidas in object_list %}
      <tr>
        <td>{{ medidas.id }}</td>
        <td>{{ medidas.Brazo_Izquierdo }}</td>
        <td>{{ medidas.Brazo_Derecho }}</td>
        <td>{{ medidas.Torax }}</td>
        <td>{{ medidas.Brazo_Relajado }}</td>
        <td>{{ medidas.Cadera }}</td>
        <td>{{ medidas.Cintura }}</td>
        <td>{{ medidas.Muslo_Derecho_Contraido }}</td>
        <td>{{ medidas.Muslo_Izquierdo_Contraido }}</td>
        <td>{{ medidas.Pantorrilla_Derecha_Contraida }}</td>
        <td>{{ medidas.Pantorrilla_Izquierda_Contraida }}</td>
        <td>
          <a href="{% url 'editar_medidas' medidas.id %}" class="boton_editar">Editar</a>
          <a href="{% url 'eliminar_medidas' medidas.id %}" class="boton_eliminar">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <span>
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; Primero </a>
          <a href="?page={{ page_obj.previous_page_number}}">Previo</a>
          {% endif %}
          <span>
            Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}.
          </span>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number}}">siguiente</a>
      <a href="?page={{ page_obj.paginator.num_pages}}">Último &raquo; </a>
      {% endif %}
    </span>
{% endblock %}  