{% extends 'index/index.html' %}
{% block content %}
              

<a href="{% url 'lista_entrenamientos'%}" class="titulo">Entrenamiento</a>
<table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Tarifa</th>
        <th>Duracion</th>
        <th>Modalidad</th>
        <th>Lista De Ejercicios</th>
        <th>Acciones</th>
        <th>
          <a href="{% url 'crear_entrenamiento' %}" class="boton_crear">Crear</a>
        </th>  
      </tr>
    </thead>
    <tbody>
      {% for entrenamiento in entrenamientos %}
      <tr>
        <td>{{ entrenamiento.Tipo }}</td>
        <td>{{ entrenamiento.Tarifa }}</td>
        <td>{{ entrenamiento.Duracion }}</td>
        <td>{{ entrenamiento.Modalidad }}</td>
        <td>{{ entrenamiento.Lista_Ejercicios }}</td>
        <td>
          <a href="{% url 'editar_entrenamiento' entrenamiento.id %}" class="boton_editar">Editar</a>
          <a href="{% url 'eliminar_entrenamiento' entrenamiento.id %}" class="boton_eliminar">Eliminar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <span>
          {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; Primero </a>
          <a href="?page={{ page_obj.previous_page_number}}">Previo</a>
          {% endif %}
          <span>
            Página {{page_obj.number}} de {{page_obj.paginator.num_pages}}.
          </span>
      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number}}">siguiente</a>
      <a href="?page={{ page_obj.paginator.num_pages}}">Último &raquo; </a>
      {% endif %}
    </span>
{% endblock %}  