{% extends 'index/index.html' %}
{% block content %}
              


<div  class="style-title" >
  <h1 class="titulo">Entrenamiento</h1>
</div>
<div  class="style-title" >
<button href="#" class="btn btn-success" onclick="return abrir_modal('{% url 'crear_entrenamiento' %}')" role="button">Crear</button>
<a class="btn btn-primary btn-circle" href="{% url 'print_entrenamiento' %}"><i class="fas fa-print"></i></a>
</div>
<div class="pad">
  <table class="table table-striped table-dark alt">
    <thead>
      <tr class="campo">
        <th>ID</th>
        <th>Musculo</th>
        <th>Ejericio</th>
        <th>Series</th>
        <th>Repeticiones</th>
        <th>Rir</th>
        <th>Cadencia</th>
        <th>Micro Pausa (min)</th>
        <th>Macro Pausa (min)</th>
        <th>Descripcion</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      {% for entrenamiento in obj %}
      <tr>
        <td data-title="ID">{{ entrenamiento.id }}</td>
        <td data-title="Musculo">{{ entrenamiento.musculo }}</td>
        <td data-title="Ejercicio">{{ entrenamiento.ejercicio }}</td>
        <td data-title="Series">{{ entrenamiento.series }}</td>
        <td data-title="Repeticiones">{{ entrenamiento.repeticiones }}</td>
        <td data-title="Rir">{{ entrenamiento.rir }}</td>
        <td data-title="Cadencia">{{ entrenamiento.cadencia }}</td>
        <td data-title="Micro Pausa">{{ entrenamiento.microPausa }}</td>
        <td data-title="Macro Pausa">{{ entrenamiento.macroPausa }}</td>
        <td data-title="Descripcion">{{ entrenamiento.descripcion }}</td>
        <td data-title="Imagen">{{ entrenamiento.imagen }}</td>
        <td>
        <a href="#" class="btn btn-success" onclick="return abrir_modal('{% url 'editar_entrenamiento' entrenamiento.id %}')" role="button"><i class="fa fa-edit"></i></a>
        <a href="#" onclick="return abrir_modal('{% url 'eliminar_entrenamiento' entrenamiento.id %}')" class="btn btn-danger" role="button"><i class="fa fa-toggle-off"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
  </div>
  <div>


{% endblock %}  


{%block scripts_local%}
<script>
    $(document).ready(function (){
        jQuery.datetimepicker.setlocale('es')
    });
</script>
{% endblock scripts_local%}

{% block js_page %}
<script>
  $(document).ready(function() {
    //$('#example').DataTable({
         $(`.table`).DataTable({
      "language": {
       // "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
       "decimal": "",
       "emptyTable": "No hay información",
       "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
       "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
       "infoFiltered": "(Filtrado de _MAX_ total entradas)",
       "infoPostFix": "",
       "thousands": ",",
       "lengthMenu": "Mostrar _MENU_ Entradas",
       "loadingRecords": "Cargando...",
       "processing": "Procesando...",
       "search": "Buscar:",
       "zeroRecords": "Sin resultados encontrados",
       "paginate": {
           "first": "Primero",
           "last": "Ultimo",
           "next": "Siguiente",
           "previous": "Anterior"
       }
      }
    });
  });


</script>    
{% endblock %}